<div class=" flex flex-col-reverse sm:flex-row flex-1 justify-center  overflow-auto gap-6 p-3" >

	<div class="overflow-y-scroll">
		<%for i in 1..100 do %>
			<%= render partial: "checkout_item" , locals:  
					{item: 
						{name:"Item Name", 
						description: "Item description goes here 
										and it can go really hard lololol",
						imageUrl: asset_path('item_img.jpg'),
						count: i,   
						min: 1,
						max: 5,
						returnDate:"2026-07-22"} }  %>
		<%end%>
	</div>
	<div class="card  sm:w-sm h-fit  bg-base-100 card-md shadow-sm">
		<div class="card-body">
			<h2 class="card-title">Checkout items</h2>
			<ul class="list">
				<li class="flex justify-between ">
					<span>items info 1</span>
					<span>value</span>
				</li>
				<li class="flex justify-between ">
					<span>items info 2</span>
					<span>value</span>
				</li>
				<li class="flex justify-between ">
					<span>items info 3</span>
					<span>value</span>
				</li>
			</ul>
			<div class="flex flex-col-reverse sm:flex-row justify-between gap-2 sm:gap-0 mt-4">
				<button class="btn btn-soft btn-error">Clear All </button>
				<button class="btn btn-primary">Checkout </button>
			</div>
		</div>
	</div>

</div>