<div class="mx-3 sm:mx-1  ">
	<div class=" flex flex-col min-w">
		<%= render partial: "shared/checkout_item" , locals:  
    {item: 
      {name:"Item Name", 
      description: "Item description goes here and it can go really hard lololol",
      image_url: asset_path('item_img.jpg'),
      count: 3,   
      min: 1,
      max: 5,
      returndate:"2026-07-22"} }  %>
	</div>
	<div class=" flex justify-end gap-4 mt-4">
		<button class="btn btn-soft btn-error">Clear All </button>
		<button class="btn btn-primary">Checkout </button>

	</div>

</div>