<div class=" flex flex-col items-center gap-2">
  <div class="badge badge-dash rounded-full badge-primary">COMING SOON</div>
  <h1 class="text-5xl font-bold"><%= link_to "CheckMate", root_path %></h1>
  <span class="text-l font-bold text-gray-500 pt-6">WELCOME</span>
  <button class="btn btn-primary w-full" onclick="window.location='<%= login_path %>'">Log in </button>
  <button class="btn btn-outline btn-primary w-full" onclick="window.location='<%= signup_path %>'">Sign up </button>
</div>
