<div class=" flex flex-col flex-1 justify-center  overflow-auto gap-6 p-3" >
	<div class=" flex  flex-col flex-1 overflow-auto gap-6 sm:px-3 w-full lg:w-3/4 mx-auto" >
		<div class=" flex flex-col gap-3">
			<% if @orders.present? %>
				<% @orders.each do |order| %>
					<%= render "order_group", order: order %>
				<% end %>
			<% else %>
				<div class="text-center p-6">
					<p class="text-base-content/70">No checkout items found.</p>
				</div>
			<% end %>
		</div>
	</div>
</div>