<div class="flex flex-col items-center p-4 gap-6">
	<p class="text-center"> Welcome </p>
	<div class="card max-w-md bg-base-100 shadow-md">
		<div class="card-body items-center text-center">

			<div class="card-actions justify-end">

			</div>
		</div>
	</div>
</div>
<script>
	const fullUserObject =
	{
	  session: <%= raw session.to_json %>,
	  current_user: <%= raw current_user.to_h.to_json %>,
	  supabase_user: <%= raw session[:supabase_user].to_json %>
	};

	console.log("Full User JSON Object:", fullUserObject);
</script>
