<div class="flex flex-col items-center p-4 gap-6">
	<p class="text-center"> Welcome </p>
	<div class="card max-w-md bg-base-100 shadow-md">
		<div class="card-body items-center text-center">
			<%= @organizations.inspect%>
			<div class="card-actions justify-end">

			</div>
		</div>
	</div>
	<calendar-date class="cally bg-base-100 border border-base-300 shadow-lg rounded-box">
		<svg aria-label="Previous" class="fill-current size-4" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M15.75 19.5 8.25 12l7.5-7.5"></path></svg>
		<svg aria-label="Next" class="fill-current size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path></svg>
		<calendar-month></calendar-month>
	</calendar-date>
</div>
<script type="module" src="https://unpkg.com/cally"></script>
<script>
	const fullUserObject =
	{
	  session: <%= raw session.to_json %>,
	  current_user: <%= raw current_user.to_h.to_json %>,
	  supabase_user: <%= raw session[:supabase_user].to_json %>
	};

	console.log("Full User JSON Object:", fullUserObject);
</script>
