<div class="flex flex-col max-w-fit m-auto justify-center gap-2">
	<% if @inventory_item.present? %>
		<%= render "item_details"%>
		<% if @has_write_access%>
			<%= button_to (heroicon "x-circle" ,variant: :solid, options: { class: 'size-4'})+'Destroy', organization_item_detail_path(params[:organization_org_id], @inventory_item.item_id), 
      method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-error w-full' %>
			<%= link_to (heroicon "pencil-square" ,variant: :solid, options: { class: 'size-4'})+'Edit', edit_organization_item_detail_path(params[:organization_org_id], @inventory_item.item_id), 
      class: 'btn btn-sm btn-primary w-full' %>
		<% end%>
	<% else %>
		<h2 class="text-lg">Item not found.</h2>
	<% end %>
	<%= link_to (heroicon "arrow-left" ,variant: :solid, options: { class: 'size-4'})+'Return', organization_item_details_path(params[:organization_org_id]), class: 'btn btn-sm btn-neutral w-full' %>
</div>