<div class="p-6">
	<div class="flex flex-col sm:flex-row justify-between my-3 gap-2">
		<h1 class="text-3xl mx-auto mb-3 sm:m-0 ">Organizations</h1>
		<div class="flex flex-col sm:flex-row gap-2">
			<%= link_to "#{heroicon 'plus-circle', options: { class: 'size-4' }}New Org", new_admin_organization_path, 
class: 'btn btn-sm btn-accent' %>
			<%= link_to 'Org Roles', admin_org_roles_path, class: 'btn btn-sm btn-neutral' %>
		</div>
	</div>

	<div class="divider"></div>

	<div class="flex flex-wrap overflow-y-scroll gap-4 justify-center">
		<% @organizations.each do |organization| %>
			<%= link_to admin_organization_path(organization.id) do %>
				<%= render partial: 'org_info', locals: { organization: organization }  %>
			<% end %>
		<% end %>

	</div>
</div>