
<!-- name of each tab group should be unique -->
<%# Note: this page is used for organizers / admins to handle items %>

<div class="container mx-auto p-4">

    <div class="tabs tabs-box rounded-box overflow-x-auto" >
        <%= link_to 'Create Item', new_organization_item_detail_path(params[:organization_org_id]), class: 'btn btn-sm btn-primary' %>
        <input type="radio" name="my_tabs_6" class="tab" aria-label="Tab 1" checked="checked" />
        <input type="radio" name="my_tabs_6" class="tab" aria-label="Tab 2" />
        <input type="radio" name="my_tabs_6" class="tab" aria-label="Tab 3" />
    </div>

    <div class="overflow-x-auto overflow-y-scroll rounded-box border border-base-content/5 ">
        <%= render partial: 'shared/table', locals: { header: @inventory_attributes, items: @inventory_items }  %>
    </div>

    <div class="join mx-auto">
        <input class="join-item btn btn-xs btn-square" type="radio" name="options" aria-label="1" checked="checked" />
        <input class="join-item btn btn-xs btn-square" type="radio" name="options" aria-label="2" />
        <input class="join-item btn btn-xs btn-square" type="radio" name="options" aria-label="3" />
        <input class="join-item btn btn-xs btn-square" type="radio" name="options" aria-label="4" />
    </div>
</div>